# üóÉÔ∏è Notebook interactif : Requ√™tes SQL sur la base SQLite

In [ ]:
import sqlite3
import pandas as pd

# Connexion √† la base de donn√©es SQLite
conn = sqlite3.connect("../database.db")

## 1. Total de transitions par ann√©e

In [ ]:
query = '''
SELECT Year, SUM(Total) AS total_transitions
FROM transitions
GROUP BY Year
ORDER BY Year;
'''
df = pd.read_sql_query(query, conn)
df

## 2. Nombre de transitions par statut temporaire

In [ ]:
query = '''
SELECT GroupCategory, SUM(Total) AS total
FROM transitions
GROUP BY GroupCategory
ORDER BY total DESC;
'''
pd.read_sql_query(query, conn)

## 3. Top 5 provinces de destination

In [ ]:
query = '''
SELECT Province, SUM(Total) AS total
FROM transitions
GROUP BY Province
ORDER BY total DESC
LIMIT 5;
'''
pd.read_sql_query(query, conn)

## 4. R√©partition des cat√©gories principales par statut temporaire

In [ ]:
query = '''
SELECT GroupCategory, MainCategory, SUM(Total) AS total
FROM transitions
GROUP BY GroupCategory, MainCategory
ORDER BY GroupCategory, total DESC;
'''
pd.read_sql_query(query, conn)

## 5. √âvolution temporelle du statut 'Worker Program'

In [ ]:
query = '''
SELECT Year, SUM(Total) AS total
FROM transitions
WHERE GroupCategory = 'Worker Program'
GROUP BY Year
ORDER BY Year;
'''
pd.read_sql_query(query, conn)

## ‚úÖ D√©connexion

In [ ]:
conn.close()